/* contact */
.uk-legend {
    color: white;
}

#contact-form {
    margin-top: 150px;;
}
#social {
    margin-top: 120px;
}
#li {
    width: 45px;
}
#so {
    width: 45px;
    margin-left: 15px;
}
#gh {
    width: 45px;
    margin-left: 15px;
}

@media screen and (max-width: 441px) {

    #contact-form{
        margin-top: 111px;
        margin-bottom: 30px;
    }
}