/* general */
html{
    background: linear-gradient(to right, #04FFFF, #0400FF);
}

a:hover{
    text-decoration: none;
}

/* navigation */
.home{
    margin-left: 9px;
    margin-top: 9px;
    transition: .2s;
    transition-timing-function: ease-in-out;
    color: #0400FF;
}

.home:hover{
    transition: .2s;
    transition-timing-function: ease-in-out;
    transform: scale(1.2);
    color: white;
}

.uk-dropdown{
    padding-bottom: 9px;
}

.menu{
    margin-right: 9px;
    color: white;
    transition: .2s;
    transition-timing-function: ease-in-out;
}

.menu:hover{
    cursor: pointer;
    transition: .2s;
    transition-timing-function: ease-in-out;
    transform: scale(1.2);
}

.navi{
    text-align: center;
    font-size: 21px;
    transition: .2s;
    transition-timing-function: ease-in-out;
}

a:hover{
    text-decoration: none;
}

.navi:hover{
    transition: .2s;
    transition-timing-function: ease-in-out;
    transform: scale(1.2);
}

.onpage{
    font-weight: bold;
}

/* social links */
.footer-img{
    margin-left: 9px;
    margin-top: 9px;
    width: 36px;
    transition: .2s;
    transition-timing-function: ease-in-out;
}

.footer-img:hover{
    transition: .2s;
    transition-timing-function: ease-in-out;
    transform: scale(1.2);
}

/* body */
.uk-align-center{
    width: 600px;  
    margin-top: 240px;
}

@media screen and (max-width: 650px) {

    .uk-align-center{
        width: 540px;  
        margin-top: 240px;
    }

}

@media screen and (max-width: 555px) {

    .uk-align-center{
        width: 480px;  
        margin-top: 240px;
    }

}

@media screen and (max-width: 495px) {

    .uk-align-center{
        width: 420px;  
        margin-top: 240px;
    }

}

@media screen and (max-width: 444px) {

    .uk-align-center{
        width: 360px;
        margin-top: 240px;  
    }

}

@media screen and (max-width: 375px) {

    .uk-align-center{
        width: 270px;
        margin-top: 240px;  
    }

}